<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Drobot</title>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css'>
  <!-- <link rel="stylesheet" href="css/login_style.css"> -->
  <link rel="stylesheet" href="css/company_list.css">
  <!-- <script>
    if(sessionStorage.getItem("user")=="undefined")
    {
      // 
    }
    </script> -->
</head>
<body>
  <div id="svg_wrap" style="margin: 7%;"></div>

  <h1>List of Players</h1>
 <!-- <section id="to_add"> -->
  <section id="to_add" style="overflow: auto;overflow-x: hidden;max-height: 250px;">
   <!-- <p>Pozyx information</p>
   <input id="pozyx_username" type="text" name="host" placeholder="Pozyx Username" />
   <input id="pozyx_password" type="text" name="host" placeholder="Pozyx Password" />
   <input id="company_name" type="text" name="host" placeholder="Pozyx Setup Name" /> -->
   <!-- <input type="text" placeholder="Insurance number" />
   <input type="text" placeholder="Family status" /> -->
 </section>
 
 
 <!-- partial -->
   <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js'></script><script  src="./script.js"></script>
<!-- <section class="container phone-container"> -->
  <!-- <div class="container" id="container" style="width: 403px;">
  <div class="form-container sign-in-container" style="width: 100%;">
    
    <br>
     <div class="form scroll">
        <div><h2>Registered Companies</h2><br></div> -->
        <!-- <div style="height: -webkit-fill-available; width: -webkit-fill-available; margin-top: 20%;margin-bottom: 35%;background-color: whitesmoke;" class="scroll",> -->
        <!-- <div style="background-color: azure;border:1%;border-radius: 20%;"></div> -->
        <!-- <button class="company_button">Gembot systems</button> -->
        <!-- <button class="company_button">Gembot systems</button>
        <button class="company_button">Gembot systems</button>
        <button class="company_button">Gembot systems</button>
        <button class="company_button">Gembot systems</button>
        <button class="company_button">Gembot systems</button>
        <button class="company_button">Gembot systems</button>
        <button class="company_button">Gembot systems</button> -->

<!-- </div> -->
<div class="button" id="next" onclick="add_company_redirect()">Add company</div>
  
  <!-- </section></div>
</div> -->



  


<script src="https://www.gstatic.com/firebasejs/4.8.1/firebase.js"></script>
<script src="https://www.gstatic.com/firebasejs/9.1.3/firebase-app-compat.js"></script>
<script src="https://www.gstatic.com/firebasejs/9.1.3/firebase-auth-compat.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-firestore.js"></script>

<script>
    var config = {

                apiKey: "AIzaSyAQvFyyIixGJo3EUqhqnrWyK5wsEWEn0Co",
                authDomain: "athletics-apms.firebaseapp.com",
                projectId: "athletics-apms",
                storageBucket: "athletics-apms.appspot.com",
                messagingSenderId: "130590941958",
                appId: "1:130590941958:web:49042928c66cee5df67487"
              };
    firebase.initializeApp(config)
    var db = firebase.firestore();
</script>

  <script src="javascript_frontend/Company_list.js"></script>


  



  </body>