<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - Pupassure Sign Up Form - Day 5 - 100 DAYS - 2020</title>
  <script src="https://kit.fontawesome.com/e2ac9cc532.js" crossorigin="anonymous"></script><link rel="stylesheet" href="./style.css">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<!-- partial:index.partial.html -->
<div class='signup-container'>
  <div class='left-container'>
    <h1>
     
      <b>Athletics
       IIT BHU</b>
    </h1>



    <figure>
      <br>
      <br>
      <img src="logo.jpg"  style="width: 100%">
      
    </figure>




    <div class='pupp'>
    </div>
  </div>
  <div class='right-container'>
    <header>
      <h1>We keep the record  of our performance here !</h1>
      
      <div class='set'>
      





          <div class='pets-breed'>
            <label for='Event'>Name</label>
            <input id='pets-breed' placeholder="Name" type='text'>
          </div>
      </div>
      <div class='set'>
        <div class='pets-breed'>
          <label for='Event'>Event</label>
          <input id='pets-breed' placeholder="Event" type='text'>


          <label for='pets-birthday'>Date of Performance</label>
          <input id='pets-birthday' placeholder='MM/DD/YYYY' type='text'>



          



        </div>
        <div class='pets-birthday'>
        
        </div>
      </div>


        
      <div class='pets-breed'>
        <label for='Event'>Repetition No</label>
        <input id='pets-breed' placeholder="Rep No" type='number'>

        <label for='Event'>Performance</label>
      <input id='pets-breed' placeholder="Time/Distance" type='number'>
      </div>
        

    




    
    
     
    </header>
    <footer>
      <div class='set'>
        <button id='back'>Back</button>
        <button id='next' style="
        border: 1px solid rgba(0, 0, 0, 0.2);
    ">Next</button>
      </div>
    </footer>
  </div>
</div>
<!-- partial -->
  
</body>
</html>
