@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Roboto+Slab:wght@400;700&display=swap');

html {
  height: 100%;
  /* vertical-align: middle; */
  /* min-height:800px; */
}
body {
  /* background: url('https://i.pinimg.com/originals/48/79/86/487986c17560a8ed1afdc55e480e5be2.png');
  background-size:cover;
  background-repeat:no-repeat; */
  background: #f6f5f7;
  text-align: center;
  font-family: 'Noto Sans', sans-serif;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  
}

h1{
  font-weight:400;
  padding-top:0;
  margin-top:0;
  font-family: 'Roboto Slab', serif;
}

#svg_form_time {
  height: 15px;
  max-width: 80%;
  margin: 40px auto 20px;
  display: block;
}

#svg_form_time circle,
#svg_form_time rect {
  fill: white;
}

.button {
  background: #265C7E;
  border-radius: 5px;
  padding: 15px 25px;
  display: inline-block;
  margin: 10px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  box-shadow:0px 2px 5px rgb(0,0,0,0.5);
}

.disabled {
  display:none;
}

section {
  /* overflow-y: scroll;
  overflow-x: hidden; */
  /* max-height: 250px; */
  padding: 50px ;
  max-width: 300px;
  margin: 30px auto;
  background:white;
  background:rgba(255,255,255,0.9);
  backdrop-filter:blur(10px);
  box-shadow:0px 2px 10px rgba(0,0,0,0.3);
  border-radius:5px;
  transition:transform 0.2s ease-in-out;
}


input {
  width: 100%;
  margin: 7px 0px;
  display: inline-block;
  padding: 12px 25px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid lightgrey;
  font-size: 1em;
  font-family:inherit;
  background:white;
}

input:hover {
	background-color: #265C7E;
	color: white;
	/* width: 100%;
	margin: 7px 0px;
	display: inline-block;
	padding: 12px 25px;
	box-sizing: border-box;
	border-radius: 5px;
	border: 1px solid lightgrey;
	font-size: 1em;
	font-family:inherit;
	background:white; */

  }

p{
  text-align:justify;
margin-top:0;
}

.company_button{
	/* background: #265C7E; */
	border-radius: 5px;
	padding: 10%;
	display: inline-block;
	margin: 2px;
	font-weight: bold;
	/* color: white; */
	cursor: pointer;
	/* box-shadow:0px 2px 5px rgb(0,0,0,0.5); */
}